.stats {
    margin-bottom: 1rem;
    border-right: 2px solid #fff0;
}


.tabSection {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
}

.tabSection a.nav-link.active {
    background-color: #273993;
    border-color: #273993;
}

.tabSection a.nav-link {
    color: #333;
    border: 1px solid #333;
    margin-bottom: 5px;
}


@media screen and (max-width: 1200px) and (min-width: 768px) {
    .stats, .stats:not(:last-child) {
        border-color: #fff0;
    }

    .stats:nth-child(odd) {
        border-color: #000;
    }
}

@media screen and (max-width: 767px) {
    .stats, .stats:not(:last-child), .stats:nth-child(odd) {
        border-color: #fff0;
    }
}




